<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/gentle_threema"
        android:roundIcon="@drawable/gentle_threema"
        android:label="@string/app_name"
        tools:replace="android:icon,android:roundIcon,android:label">
    </application>

</manifest>
